@charset "UTF-8";

/*Importação de Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
/**/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Tilt Neon', cursive;
}

html, body {
    height: 100%;
}

#ativo {
    color: gray;
}

header {
    background-color: #1a1d1a;
    height: 35px;
    padding: 5px; 
}

#m-menu {
    background-color: #1a1d1a;
    height: 35px;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

header>a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    margin: 5px;
}

header>a:hover {
    text-decoration: underline;
    color: goldenrod;
    background-color: white;
}

.principal {
    height: 100vh;
    background-color: rgb(231, 152, 123);
    display: flex;
    justify-content: center;
    align-items: center;
}

.principal-receitas {
    background-color: rgb(231, 152, 123);
}

#img {
    padding-bottom: 50px;
}

.text {
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.container-m{
    display: flex;
    justify-content: center;
}

.container-2{
    display: flex;
    justify-content: center;
}

/*.card {
    width: 450px;
    height: 720px;
    background-color: #ebe6b8;
    border: 1px solid black;
    margin: 20px;
} */

ul {
    list-style-position: inside;
    padding-left: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2em;
}

#foto {
    width: 100%;
    height: 300px;
}

.imagem-r {
    display: flex;
    justify-content: center;
}

.texto {
    font-size: 1.3em;
    padding-top: 5px;
    padding-right: 12px;
    padding-left: 5px;
}

.text-embreve {
    position: relative;
    background-color: white;
    border: 2px solid black;
    padding-top: 7px;
}

footer {
    background-color: black;
    color: white;
    justify-content: center;
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#footer-main {
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

/*Responsivo*/

/*@media screen and (max-width: 945px) { /*Smartphone/Celular*/
    /*.card {
        width: 500px;
    }*/
    .principal-receitas {
        height: 100%;
    }
    .container {
        display: grid;
    }
    .container-2 {
        display: grid;
    }
}

@media screen and (max-width: 1440px) { /*Laptop/Notebook*/
    /*.card {
        width: 300px;
    }*/
    #foto {
        width: 280px;
        height: 300px;
    }
    .principal-receitas {
        height: 100%;
    }
}
*/